{%- liquid
  assign pr_url = product.url
  assign pid = product.id
  assign isDefault = product.has_only_default_variant
  assign pr_variants = product.variants
  assign current_variant = pr_variants.first
  assign isPreoder = false

  if product.tags contains 'isPreoder' or current_variant.inventory_policy == 'continue' and current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity <= 0
    assign isPreoder = true
  endif

  if current_variant.inventory_management == 'shopify'
    assign max_qty = current_variant.inventory_quantity | default: 9999
  else
    assign max_qty = 9999
  endif
  if current_variant.quantity_rule.max
    assign max_qty = max_qty | at_most: current_variant.quantity_rule.max
  endif

  assign meta_theme = product.metafields.theme
  assign cus_qty = meta_theme.cus_qty | default: 1
  if current_variant.quantity_rule.min
    assign cus_qty = cus_qty | at_least: current_variant.quantity_rule.min
  endif
  assign isExternal = false
  assign external_title = meta_theme.external_title
  assign external_link = meta_theme.external_link
  if external_title != blank and external_link != blank
    assign isExternal = true
  endif
  assign isGrouped = false
  if meta_theme.grouped != blank
    assign isGrouped = true
  endif

  assign custom_badge = meta_theme.custom_badge
  if custom_badge != blank
    assign arr_badge = custom_badge | replace: '  ', '' | replace: ' ;', ';' | replace: '; ', ';' | split: ';' | join: 'nt-t4s' | escape | split: 'nt-t4s'
    assign arr_badge_handle = arr_badge | join: 'nt-t4s' | handle | split: 'nt-t4s'
  else
    assign badge_tags = product.tags | where: 'badge_'
    if badge_tags.size > 0
      assign arr_badge_tags = badge_tags | join: 'nt-t4s' | remove: 'badge_' | escape
      assign arr_badge = arr_badge_tags | split: 'nt-t4s'
      assign arr_badge_handle = arr_badge_tags | handle | split: 'nt-t4s'
    endif
  endif

  assign countdown = time_meta | default: meta_theme.countdown | date: '%Y/%m/%d %H:%M:%S'
  if use_countdown and countdown != blank
    assign use_pr_countdown = true
  endif

  assign countdown_formatted = ''
  assign countdown_bg_color = '#F0807B'
  assign is_countdown_active = false

  assign col_countdown = product.metafields.custom.fecha_de_la_cuenta_atras
  assign col_color = product.metafields.custom.color_de_la_cuenta_atras

  if col_countdown != blank and col_countdown != empty
    assign countdown_formatted = col_countdown | date: '%Y-%m-%d %H:%M'
    if col_color != blank and col_color != empty
      assign countdown_bg_color = col_color
    endif
    assign is_countdown_active = true
  endif

  assign image = product.featured_media | default: placeholder_img

  assign color_count = 0
  assign size_count = 0

  if isDefault == false and enable_pr_color or enable_pr_size
    assign pr_options = product.options_with_values

    assign img_variants = pr_variants | where: 'featured_image'
    assign available_variants = product.variants | where: 'available'
    for option in pr_options
      assign name = option.name | downcase

      if enable_pr_color and get_color contains name and color_count == 0
        assign pr_option_color = 'option' | append: forloop.index
        assign color_variants_avai = available_variants | map: pr_option_color | uniq
        assign featured_imgs = img_variants | map: 'featured_image'

        assign color_variants = option.values
        if show_cl_type == '1'
          assign color_count = color_variants.size
        else
          if pr_options.size == 1
            assign color_variants = color_variants_avai
          endif
          assign color_count = color_variants_avai.size
        endif

      elsif enable_pr_size and get_size contains name and size_count == 0
        assign pr_option_size = 'option' | append: forloop.index
        assign size_variants_avai = available_variants | map: pr_option_size | uniq
        assign size_variants = option.values
        if show_size_type == '1'
          assign size_count = size_variants.size
        else
          if pr_options.size == 1
            assign size_variants = size_variants_avai
          endif
          assign size_count = size_variants_avai.size
        endif
      endif
    endfor
  endif
  assign size_on_image = false
  if size_count > 0 and list_size_pos == '1'
    assign size_on_image = true
  endif
  assign color_on_image = false
  if color_count > 0 and list_color_pos == '1'
    assign color_on_image = true
  endif
  capture countdown_html
    if use_pr_countdown
      render 'product-countdown', countdown: countdown
    endif
  endcapture
-%}

<div
  class="t4s-product t4s-pr-grid t4s-pr-style1 t4s-pr-{{ pid }} t4s-col-lg-{{ col_dk }} t4s-col-item {% if color_on_image %}t4s-color-ontop{% endif %} {% if size_on_image %}t4s-size-ontop{% endif %} relative"
  data-product-options='{ "id": "{{ pid }}","cusQty":"{{ cus_qty }}","available": {{ product.available }}, "handle": "{{ product.handle }}", "isDefault": {{ isDefault }}, "VariantFirstID": {{ current_variant.id }}, "customBadge": {{ arr_badge | json }}, "customBadgeHandle": {{ arr_badge_handle | json }},"dateStart": {{ product.created_at | date: "%s" }}, "compare_at_price": {{ current_variant.compare_at_price | json }},"price": {{ current_variant.price | json }}, "isPreoder": {{ isPreoder }},"isExternal": {{ isExternal }}{% if isExternal %},"external_title": {{ external_title | json }},"external_link": "{{ external_link | escape }}"{% endif %},"image2": {% if product.media[1] != blank %}{{ product.media[1] | image_url: width: 1 | json }},"alt": {{ product.media[1].alt | escape | json }}{% else %}false{% endif %},"isGrouped": {{ isGrouped }},"maxQuantity": {% if isDefault and isPreoder == false %}{{ max_qty }}{% else %}9999{% endif %} }'
>
  {%- assign promo_product = product -%}
  {%- if promo_product == null and card_product -%}
    {%- assign promo_product = card_product -%}
  {%- endif -%}

  {% unless is_countdown_active %}
    {%- if promo_product and promo_product.tags contains 'promo' -%}
      <div
        class="offer-tag"
        style="
          background: #f0807b;
          color: #faf5e7;
          position: absolute;
          z-index: 1;
          font-size: 1.2rem;
          border-radius: 0 0 10px 10px;
          padding: 0.5rem 0.2rem;
          right: 10%;
          font-weight: 900;
        "
      >
        <p class="offer-tag-1" style="font-size: 0.8rem; margin: 0;">-SOLO HOY-</p>
        <p class="offer-tag-2" style="font-size: 2rem; margin: -5px 0 0;">5X4</p>
      </div>
    {%- endif -%}
  {% endunless %}

  {% assign v = product.selected_or_first_available_variant %}
  {% assign d = v.compare_at_price | minus: v.price | times: 100 | divided_by: v.compare_at_price | round %}

  {% unless is_countdown_active %}
    {% if v.compare_at_price > v.price %}
      {% unless product.tags contains 'sin-descuento' %}
        <div
          class="offer-tag"
          style="
            background: #f0807b;
            color: #faf5e7;
            position: absolute;
            z-index: 1;
            font-size: 1.2rem;
            border-radius: 0 0 10px 10px;
            padding: 0.5rem 0.2rem;
            right: 10%;
            font-weight: 900;
            z-index: 2;
          "
        >
          <p class="offer-tag-1 text-center" style="font-size: 0.8rem;">OFERTA</p>
          <p class="offer-tag-2 text-center" style="font-size: 2rem; margin: -5px 0;">{{ d }}%</p>
        </div>
      {% endunless %}
    {% endif %}
  {% endunless %}

  {% unless is_countdown_active %}
    {% assign oferta_tag = '' %}
    {% for t in product.tags %}
      {% if t contains 'oferta_' %}
        {% assign oferta_tag = t %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% unless oferta_tag == '' or product.tags contains 'sin-descuento' %}
      {% assign parts = oferta_tag | split: '_' %}
      {% assign oferta_texto = parts[1] | upcase %}
      {% assign oferta_promo = parts[2] | upcase %}

      <div
        class="offer-tag"
        style="
          background: #f0807b;
          color: #fff9ed;
          position: absolute;
          z-index: 3;
          font-size: 1.2rem;
          border-radius: 0 0 10px 10px;
          padding: 0.5rem 0.2rem;
          left: 10%;
          font-weight: 900;
        "
      >
        <p class="offer-tag-1 text-center" style="font-size: 0.8rem;">{{ oferta_texto }}</p>
        <p class="offer-tag-2 text-center" style="font-size: 2rem; margin: -5px 0;">{{ oferta_promo }}</p>
      </div>
    {% endunless %}
  {% endunless %}

  {% if countdown_formatted != blank and countdown_formatted != empty %}
    <div
      class="countdown-badge absolute top-3 right-3 z-20 px-4 py-2 rounded-full font-bold text-[8px] lg:text-[11px] mr-2 lg:mr-4 "
      data-countdown-end="{{ countdown_formatted }}"
      style="background-color: {{ countdown_bg_color }}; color: #ffffff;"
    >
      00:00:00
    </div>
  {% endif %}

  <div class="t4s-product-wrapper relative">
    <div data-cacl-slide class="t4s-product-inner t4s-pr t4s-oh" timeline hdt-reveal="slide-in">
      {%- if image != blank %}{% render 'product-img', image: image, imgatt: imgatt -%}{%- endif -%}
      <div data-product-badge data-sort="sale,new,soldout,preOrder,custom" class="t4s-product-badge"></div>
      {{- countdown_html -}}
      {% if color_on_image or size_on_image or use_pr_countdown %}
        <div class="t4s-pr-group-variable">
          {%- if color_on_image %}
            <div
              class="t4s-product-colors"
              data-color-options='{ "color_count": {{ color_count }}, "color_variants": {{ color_variants | json }}, "color_variants_avai":{{ color_variants_avai | join: 'nt-t4s' | escape | split: 'nt-t4s' | json }}, "color_variants_handle": {{ color_variants | join: 'nt-t4s' | handle | split: 'nt-t4s' | json }}, "img_variants": {{ featured_imgs | json }}, "id_variants": {{ img_variants | map: 'id' | json }}, "img_ratios": {{ featured_imgs | map: 'aspect_ratio' | json }}, "img_options": {{ img_variants | map: pr_option_color | json }} }'
            >
              <span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span
              ><span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span
              ><span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span>
            </div>
          {%- endif -%}
          {%- if size_on_image %}
            {%- render 'product-size',
              size_variants: size_variants,
              size_variants_avai: size_variants_avai,
              show_size_type: show_size_type
            -%}
          {%- endif -%}
          {{- countdown_html -}}
        </div>
      {% endif %}

      <div class="t4s-product-btns2">
        {%- if isGrowaveWishlist -%}
          {%- capture the_snippet_fave_icon %}{% render 'ssw-widget-faveicon' with pid %}{% endcapture -%}
          {%- unless the_snippet_fave_icon contains 'Liquid error' -%}
            <div class="t4s-pr-item-btn t4s-pr-wishlist is--growave">{{ the_snippet_fave_icon }}</div>
          {%- endunless -%}
        {%- else -%}
          <div data-replace-wishlist data-tooltip="left"></div>
        {%- endif -%}
        <div data-replace-compare data-tooltip="left"></div>
      </div>
      <a data-pr-href class="t4s-full-width-link" href="{{ pr_url }}"></a>
    </div>
    <div class="t4s-product-info text-left">
      <div class="t4s-product-info__inner text-left">
        {%- if product.vendor.size > 0 and show_vendor -%}
          {% if use_link_vendor -%}
            {%- assign pr_vendor_handle = product.vendor | handle -%}
            {%- assign collection_vendor = collections[pr_vendor_handle] -%}
          {%- endif %}
          <div class="t4s-product-vendor">
            <a href="{% if use_link_vendor and collection_vendor.url != blank %}{{ collection_vendor.url }}{% else %}{{ product.vendor | url_for_vendor }}{% endif %}">
              {{- product.vendor -}}
            </a>
          </div>
        {%- endif -%}
        {% if rating_pos == '1' %}
          {%- render 'product-rating', product: product, app_review: app_review -%}
        {% endif %}
        <h3 class="t4s-product-title text-left !text-[14px] lg:!text-[18px]">
          <a data-pr-href href="{{ pr_url }}">{{ product.title }}</a>
        </h3>
        {%- render 'product-price',
          product: product,
          price_varies_style: price_varies_style,
          type: 'card',
          isGrouped: isGrouped
        -%}
        {% if rating_pos == '2' %}
          {%- render 'product-rating', product: product, app_review: app_review -%}
        {% endif %}
        {%- if show_list_btns -%}
          {%- assign description_excerpt = meta_theme.description_excerpt -%}
          <div class="t4s-rte">
            {% if description_excerpt != blank -%}
              {{- description_excerpt -}}
            {%- else -%}
              {{- product.content | strip_html | truncatewords: 30 -}}
            {%- endif %}
          </div>
        {%- endif -%}
        {%- if color_count > 0 and list_color_pos == '2' %}
          <div
            class="t4s-product-colors"
            data-color-options='{ "color_count": {{ color_count }}, "color_variants": {{ color_variants | json }}, "color_variants_avai":{{ color_variants_avai | join: 'nt-t4s' | escape | split: 'nt-t4s' | json }}, "color_variants_handle": {{ color_variants | join: 'nt-t4s' | handle | split: 'nt-t4s' | json }}, "img_variants": {{ featured_imgs | json }}, "id_variants": {{ img_variants | map: 'id' | json }}, "img_ratios": {{ featured_imgs | map: 'aspect_ratio' | json }}, "img_options": {{ img_variants | map: pr_option_color | json }} }'
          >
            <span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span
            ><span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span
            ><span class="t4s-pr-color__item"><span class="t4s-pr-color__value bg_color_ntloading"></span></span>
          </div>
        {% endif -%}
        {%- if size_count > 0 and list_size_pos == '2' %}
          {%- render 'product-size',
            size_variants: size_variants,
            size_variants_avai: size_variants_avai,
            show_size_type: show_size_type
          -%}
        {% endif -%}
      </div>
      {%- if show_list_btns -%}
        <div class="t4s-product-btns t4s-product-info__btns">
          {%- if settings.enable_quickview -%}
            <a
              data-id="{{ pid }}"
              href="{{ pr_url }}"
              data-tooltip
              rel="nofollow"
              class="t4s-pr-item-btn t4s-pr-quickview"
              data-action-quickview
              ><span class="t4s-svg-pr-icon">
                <svg viewBox="0 0 24 24">
                  <use xlink:href="#t4s-icon-qv"></use>
                </svg></span
              ><span class="t4s-text-pr">{{ 'products.product_card.quick_view' | t }}</span></a
            >
          {%- endif %}
          {%- if settings.enable_atc %}
            {%- render 'product-atc',
              pr_available: product.available,
              pr_url: pr_url,
              isDefault: isDefault,
              isPreoder: isPreoder,
              isExternal: isExternal,
              external_title: external_title,
              external_link: external_link,
              isGrouped: isGrouped,
              current_variant: current_variant,
              pid: pid,
              cus_qty: cus_qty,
              max_qty: max_qty
            -%}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class=" !relative !bottom-[0px] !justify-start !pt-6">
    <div data-replace-quickview data-tooltip-="top"></div>
    <div data-replace-atc data-tooltip-="top"></div>
  </div>
  {{ append_stock }}
  {%- if btn_details != blank -%}
    {%- render 'btn-view-details', bk_stts: bk_stts, btn_details: btn_details, pr_url: pr_url -%}
  {%- endif -%}
</div>
