<!-- Upselling de resultados Result Page Wizard -->

{% if result.pet == 'GATO' %}
  {% assign xsellingProducts = collections['wizard-xselling-gatitos'].products %}
{% else %}
  {% assign xsellingProducts = collections['wizard-xselling-perritos'].products %}
{% endif %}

<div
  class="wizard-variant-results mt:10 lg:mt-20 !bg-[#F4F0E2] [@media(max-width:1024px)]:!flex-nowrap [@media(max-width:1024px)]:!justify-start"
>
  {% for product in xsellingProducts limit: 4 %}
    <label for="xselling_{{ product.variants[0].id }}">
      <div class="variant-result  [@media(max-width:1024px)]:!w-[80vw] !text-left !items-start">
        {{ product.featured_image | image_url: width: 300 | image_tag }}
        <h2 class="my-0 !text-[18px] lg:!text-[28px] leading-[1] !font-semibold font-[Barlow] mb-4 !mt-0 !pb-2">
          <input
            type="checkbox"
            id="xselling_{{ product.variants[0].id }}"
            name="xselling"
            value="{{ product.variants[0].id }}"
          >
          {{ product.title }}
        </h2>

        {{ product.variants[0].price | money_with_currency }}
        <br>
        <br>
        <span class="label select !self-start">Seleccionar</span>
        <span class="label selected hidden !self-start">Seleccionado</span>
      </div>
    </label>
  {% endfor %}
</div>

<script>
  // click events for selected things

  let xsellingContainers = document.querySelectorAll('input[name="xselling"]');

  Array.from(xsellingContainers).forEach(function (xselling) {
    xselling.addEventListener('click', function (event) {
      activateXselling(xselling, xsellingContainers);
    });
  });

  function activateXselling(xselling, xsellingContainers) {
    //select current xselling

    let thisarticle = xselling.closest('.variant-result');
    thisarticle.classList.toggle('active');
    thisarticle.querySelector('.selected').classList.toggle('hidden');
    thisarticle.querySelector('.select').classList.toggle('hidden');
  }
</script>

<style>
  .wizard-variant-results {
  }
</style>
