<div class="flex gap-[29px] max-w-[1600px] mx-auto flex-col bg-[#F4F0E2] pt-14 lg:pt-[8rem] lg:hidden mb-12">
  <div class=" px-6">
    <span><a class="underline" href="/">Inicio</a></span> /
    <span><a class="underline" href="https://wildbalance.es/blogs/blog/">Blog</a></span> /
    <span
      ><a class="underline" href="{{ blog.url }}/tagged/{{ article.tags[0] | handle }}">
        {{ article.tags[0] }}
      </a></span
    >
  </div>
  <h1 class="text-[40px] lg:text-[72px] font-[700] leading-[1]  px-6">{{ article.title }}</h1>
  <div class="flex justify-between w-full my-0 lg:mt-[50px] lg:mb-[70px] px-6">
    <div class="flex gap-3 items-center">
      <img
        class="w-12 lg:w-14 rounded-full"
        src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/b6670a4bc97bb50026451e3cc14d51f891c435e8.png?v=1758729888"
      >
      <div class="flex flex-col leading-tight text-[14px] lg:text-[15px]">
        <p>Publicado por: Loudes Muñoz</p>
        <p class="text-[12px] lg:text-[14px]">
          Revisado por:
          <a class="underline" href="https://wildbalance.es/pages/nutricionista-almudena-armelles">
            Almudena Armelles, nutricionista de Wild Balance
          </a>
        </p>
      </div>
    </div>
    <p class="text-[#7F7D7B] text-[15px]">{{ article.published_at | date: '%d %b %Y' }}</p>
  </div>
  <img
    class="w-full"
    src="{{ article.image | img_url: '2400x' }}"
    alt="{{ article.image.alt | escape }}"
  >
</div>

<div class="flex gap-[29px] max-w-[1600px] mx-auto px-10 flex-col bg-[#F4F0E2] pt-14 lg:pt-[8rem] [@media(max-width:1024px)]:!hidden">
  <img
    class="w-full rounded-[10px]"
    src="{{ article.image | img_url: '2400x' }}"
    alt="{{ article.image.alt | escape }}"
  >
  <div>
    <span><a class="underline" href="/">Inicio</a></span> /
    <span><a class="underline" href="https://wildbalance.es/blogs/blog/">Blog</a></span>
  </div>
  <p class="text-[40px] lg:text-[72px] font-[700] leading-[1]">{{ article.title }}</p>
  <div class="flex justify-between w-full my-12 lg:mt-[50px] lg:mb-[70px]">
    <div class="flex gap-3 items-center">
      <img
        class="w-10 lg:w-14 rounded-full"
        src="https://cdn.shopify.com/s/files/1/0713/9898/1933/files/b6670a4bc97bb50026451e3cc14d51f891c435e8.png?v=1758729888"
      >
      <div class="flex flex-col leading-tight text-[14px] lg:text-[15px]">
        <p>Publicado por: Loudes Muñoz</p>
        <p class="text-[12px] lg:text-[14px]">
          Revisado por:
          <a class="underline" href="https://wildbalance.es/pages/nutricionista-almudena-armelles">
            Almudena Armelles, nutricionista de Wild Balance
          </a>
        </p>
      </div>
    </div>
    <p class="text-[#7F7D7B] text-[15px]">{{ article.published_at | date: '%d %b %Y' }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Heading",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s_tp_parallax t4s-heading-article",
  "settings": [
    {
      "type": "header",
      "content": "1. General options"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose Image"
    },
    {
      "type": "checkbox",
      "id": "use_specify_image",
      "label": "Specify other image for particular page",
      "info": "Use article image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Enable parallax scroll",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_overlay",
      "label": "Background overlay",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Background overlay opacity",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "paragraph",
      "content": "+ Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding space top",
      "default": 75,
      "min": 0,
      "max": 750,
      "step": 7.5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding space bottom",
      "default": 75,
      "min": 0,
      "max": 750,
      "step": 7.5,
      "unit": "px"
    },
    {
      "type": "paragraph",
      "content": "+ Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tb",
      "label": "Padding space top",
      "default": 50,
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_tb",
      "label": "Padding space bottom",
      "default": 50,
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "paragraph",
      "content": "+ Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "label": "Padding space top",
      "default": 50,
      "min": 0,
      "max": 250,
      "step": 2.5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "label": "Padding space bottom",
      "default": 50,
      "min": 0,
      "max": 250,
      "step": 2.5,
      "unit": "px"
    },
    {
      "type": "paragraph",
      "content": "————————————————"
    },
    {
      "type": "select",
      "id": "box_border",
      "label": "Border",
      "default": "top_bottom",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        },
        {
          "label": "Top + Bottom",
          "value": "top_bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "+ Background image config"
    },
    {
      "type": "paragraph",
      "content": "Not active when you enable scroll parallax."
    },
    {
      "type": "select",
      "id": "bg_pos",
      "label": "Background image position",
      "default": "center center",
      "options": [
        {
          "value": "left top",
          "label": "Left Top"
        },
        {
          "value": "left center",
          "label": "Left Center"
        },
        {
          "value": "left bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center top",
          "label": "Center Top"
        },
        {
          "value": "center center",
          "label": "Center Center"
        },
        {
          "value": "center bottom",
          "label": "Center Bottom"
        },
        {
          "value": "right top",
          "label": "Right Top"
        },
        {
          "value": "right center",
          "label": "Right Center"
        },
        {
          "value": "right bottom",
          "label": "Right Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No repeat"
        },
        {
          "value": "repeat",
          "label": "Repeat all"
        },
        {
          "value": "repeat-x",
          "label": "Repeat horizontally"
        },
        {
          "value": "repeat-y",
          "label": "Repeat vertically"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ],
      "label": "Background repeat",
      "default": "no-repeat",
      "info": "[Specifies how to repeat the background images](https:\/\/w3schools.com\/cssref\/pr_background-repeat.asp)"
    },
    {
      "type": "select",
      "id": "bg_size",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "label": "Background size",
      "default": "cover",
      "info": "[Specifies the size of the background images](https:\/\/w3schools.com\/cssref\/css3_pr_background-size.asp)"
    },
    {
      "type": "header",
      "content": "+ Design for header transparent"
    },
    {
      "type": "checkbox",
      "id": "use_border",
      "label": "Use border",
      "default": true
    },
    {
      "type": "color",
      "id": "br_bg_trans",
      "label": "Color border",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "br_opacity_trans",
      "label": "Color border overlay",
      "default": 15,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "bg_overlay_trans",
      "label": "Background overlay",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "bg_opacity_trans",
      "label": "Background overlay opacity",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "paragraph",
      "content": "+ Desktop"
    },
    {
      "type": "range",
      "id": "padding_top_trans",
      "label": "Padding space top",
      "default": 75,
      "min": 0,
      "max": 750,
      "step": 7.5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_trans",
      "label": "Padding space bottom",
      "default": 75,
      "min": 0,
      "max": 750,
      "step": 7.5,
      "unit": "px"
    },
    {
      "type": "paragraph",
      "content": "+ Tablet"
    },
    {
      "type": "range",
      "id": "padding_top_tb_trans",
      "label": "Padding space top",
      "default": 50,
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_tb_trans",
      "label": "Padding space bottom",
      "default": 50,
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "paragraph",
      "content": "+ Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mb_trans",
      "label": "Padding space top",
      "default": 50,
      "min": 0,
      "max": 250,
      "step": 2.5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_mb_trans",
      "label": "Padding space bottom",
      "default": 50,
      "min": 0,
      "max": 250,
      "step": 2.5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "2. Design options"
    },
    {
      "type": "range",
      "id": "mg_b",
      "label": "Margin space bottom (Desktop)",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mg_btb",
      "label": "Margin space bottom (Tablet)",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mg_bmb",
      "label": "Margin space bottom (Mobile)",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "fontf",
          "default": "inherit",
          "label": "Font family",
          "options": [
            {
              "label": "Inherit",
              "value": "inherit"
            },
            {
              "label": "Font Family #1",
              "value": "1"
            },
            {
              "label": "Font Family #2",
              "value": "2"
            },
            {
              "label": "Font Family #3",
              "value": "3"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_cl",
          "label": "Color text",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "text_fs",
          "label": "Font size",
          "max": 100,
          "min": 10,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_lh",
          "label": "Line height",
          "max": 100,
          "min": 0,
          "step": 1,
          "default": 0,
          "unit": "px",
          "info": "Set '0' to use default"
        },
        {
          "type": "range",
          "id": "text_fw",
          "label": "Font weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "range",
          "id": "text_ls",
          "label": "Letter spacing",
          "max": 10,
          "min": 0,
          "default": 0,
          "step": 0.1,
          "unit": "px"
        },
        {
          "type": "number",
          "id": "mgb",
          "label": "Margin bottom",
          "default": 15
        },
        {
          "type": "checkbox",
          "id": "font_italic",
          "label": "Enable font italic style",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "font_uppercase",
          "label": "Enable font uppercase",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "text_shadow",
          "label": "Enable text shadow",
          "default": false
        },
        {
          "type": "header",
          "content": "+ Options on tablet"
        },
        {
          "type": "range",
          "id": "text_fs_tb",
          "label": "Font size",
          "max": 60,
          "min": 10,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_lh_tb",
          "label": "Line height",
          "max": 70,
          "min": 0,
          "step": 1,
          "default": 0,
          "unit": "px",
          "info": "Set '0' to use default"
        },
        {
          "type": "range",
          "id": "text_ls_tb",
          "label": "Letter spacing",
          "min": 0,
          "max": 10,
          "step": 0.1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "number",
          "id": "mgb_tb",
          "label": "Margin bottom",
          "default": 10
        },
        {
          "type": "header",
          "content": "+  Options mobile"
        },
        {
          "type": "checkbox",
          "id": "hidden_mobile",
          "label": "Hidden on mobile",
          "default": false
        },
        {
          "type": "range",
          "id": "text_fs_mb",
          "label": "Font size",
          "max": 60,
          "min": 10,
          "step": 1,
          "unit": "px",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_lh_mb",
          "label": "Line height",
          "max": 70,
          "min": 0,
          "step": 1,
          "default": 0,
          "unit": "px",
          "info": "Set '0' to use default"
        },
        {
          "type": "range",
          "id": "text_ls_mb",
          "label": "Letter spacing",
          "min": 0,
          "max": 10,
          "step": 0.1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "number",
          "id": "mgb_mb",
          "label": "Margin bottom",
          "default": 10
        },
        {
          "type": "header",
          "content": "+ Design for header transparent"
        },
        {
          "type": "color",
          "id": "text_cl_trans",
          "label": "Color text",
          "default": "#fff"
        }
      ]
    },
    {
      "type": "blog_title",
      "name": "Blog title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "show_blog_tite",
          "label": "Show blog title",
          "info": "From tags contains 'blog_': will show tags on article current contains 'blog_'",
          "default": "blog_current",
          "options": [
            {
              "value": "blog_current",
              "label": "From blog current"
            },
            {
              "value": "blog_tags",
              "label": "From tags contains 'blog_'"
            }
          ]
        },
        {
          "type": "select",
          "id": "fontf",
          "default": "inherit",
          "label": "Font family",
          "options": [
            {
              "label": "Inherit",
              "value": "inherit"
            },
            {
              "label": "Font Family #1",
              "value": "1"
            },
            {
              "label": "Font Family #2",
              "value": "2"
            },
            {
              "label": "Font Family #3",
              "value": "3"
            }
          ]
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "number",
          "id": "mgb",
          "label": "Margin bottom",
          "default": 10
        },
        {
          "type": "number",
          "id": "mgb_mb",
          "label": "Margin bottom (Mobile)",
          "default": 10
        },
        {
          "type": "header",
          "content": "+ Design for header transparent"
        },
        {
          "type": "color",
          "id": "text_cl_trans",
          "label": "Color text",
          "default": "#fff"
        }
      ]
    },
    {
      "type": "article_metas",
      "name": "Article metas",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "fontf",
          "default": "inherit",
          "label": "Font family",
          "options": [
            {
              "label": "Inherit",
              "value": "inherit"
            },
            {
              "label": "Font Family #1",
              "value": "1"
            },
            {
              "label": "Font Family #2",
              "value": "2"
            },
            {
              "label": "Font Family #3",
              "value": "3"
            }
          ]
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "label": "Show author",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_comment",
          "label": "Show comment",
          "default": true
        },
        {
          "type": "number",
          "id": "mgb",
          "label": "Margin bottom",
          "default": 10
        },
        {
          "type": "number",
          "id": "mgb_mb",
          "label": "Margin bottom (Mobile)",
          "default": 10
        },
        {
          "type": "header",
          "content": "+ Design for header transparent"
        },
        {
          "type": "color",
          "id": "text_cl_trans",
          "label": "Color text",
          "default": "#fff"
        }
      ]
    }
  ],
  "default": {
    "blocks": [{ "type": "title" }, { "type": "blog_title" }, { "type": "article_metas" }]
  }
}
{% endschema %}

<style>
    #calculadora-bg {
    display:none;
    }
    #MainContent {
  background: #F4F0E2
  }
</style>
